
<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
          <ul class="nav">
            <li <%= (viewOptions.activePage == 'territory') ? "class='active'" : "" %> ><a href="/territory"><i class="fa fa-globe"></i> <%= i18n('Territories') %></a></li>
            <li <%= (viewOptions.activePage == 'holder') ? "class='active'" : "" %> ><a href="/holder"><i class="fa fa-users"></i> <%= i18n('Territory holders') %></a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user"></i> <%= viewOptions.currentUsername %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if(viewOptions.currentUsername == "admin") { %>
                  <li><a href="/user/update"><i class="fa fa-gears"></i> <%= i18n('My Settings') %></a></li>
                  <% } %>
                  <li><a href="/app/update"><i class="fa fa-gears"></i> <%= i18n('App Settings') %></a></li>
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="fa fa-sign-out"></i> <%= i18n('Log out') %></a></li>
                </ul>
            </li>
          </ul>
    </div>
  </div>
</header>

<% if(viewOptions.breadcrumbs.length > 1) { %>
<div class="container">
  <ul class="breadcrumb list-inline">
    <% _.each(viewOptions.breadcrumbs, function (bc, i) {  %>
      <% if(bc.link !== null) {  %>
        <li><a href="<%= bc.link %>"><%= i18n(bc.name) %></a>
          <% if(i != viewOptions.breadcrumbs.length - 1) { %><span class="divider">/</span><% } %>
        </li> 
      <% } else {  %>
        <li><%= i18n(bc.name) %>
          <% if(i != viewOptions.breadcrumbs.length - 1) { %><span class="divider">/</span><% } %>
        </li> 
      <% } %>
    <% }) %>
  </ul>
</div>
<% } %>