<!-- Create new territory -->

<%- partial('../partials/header') %>

<div class="container">
  <div class="page-header">
  	<%= actionResult %>
  </div>

	<form class="form-horizontal" action="add" method="post" role="form">
	<fieldset>

		<div class="control-group">
		  <label class="control-label" for="input_letter"><%= i18n('Prefix Letter') %></label>
		  <div class="controls">
		    <select id="input_letter" name="input_letter" class="input-xlarge">
					<% _.each(availableLetters, function (i) { %>
						<option value="<%= i %>"><%= i %></option>
					<% }) %>
		    </select>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="input_number"><%= i18n('Number') %></label>
		  <div class="controls">
		    <input id="input_number" name="input_number" type="text" placeholder="123" class="input-xlarge">
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="input_description"><%= i18n('Description') %></label>
		  <div class="controls">                     
		    <textarea class="field span4" rows="6" id="input_description" name="input_description" placeholder="Address, etc."></textarea>
		  </div>
		</div>

		<div class="control-group">
			<label class="control-label" for="map_canvas"><%= i18n('Set Coordinates') %></label>
			<div class="controls">    
				<div id="map_canvas">
				</div>
				<div class="form-inline">
			    <label for="input_lat"><%= i18n('Latitude') %>:</label>
			    <input class="form-control span2" name="input_lat" id="input_lat" type="text" value="" />

			    <label for="input_lng"><%= i18n('Longitude') %>:</label>
			    <input class="form-control span2" name="input_lng" id="input_lng" type="text" value="" />
				</div>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">  
				<button id="input_submit" type="submit" class="form-control btn btn-default">
				  <%= i18n('Create new territory') %>
				</button>
			</div>
		</div>
	</fieldset>
	</form>
</div>

<!-- Google Maps API v3 -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/create_new_map.js"></script>

<%- partial('../partials/footer') %>
