<%- partial('../partials/header')%>

<!--<div class="container">
  <div class="page-header">
    <h2><%= i18n('Territories') %></h2>
  </div>
</div>-->
<div class="container">
    <% notif_count = territoryTakenNotificationCount + territoryNotCoveredNotificationCount; %>
    <% if (notif_count > 0) { %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><i class="fa fa-envelope"></i> <%= i18n('Email notifications') %><i class="icon-question-sign" rel="tooltip" data-placement="bottom" title="<%= i18n('Email notifications remind of taken and not covered territories.') %>"></i></h4>
        
        <% if (notif_count > 0 && notif_count < 6) { %>
          <span class="badge badge-info">
        <% } else if (notif_count > 5 && notif_count < 11) { %>
          <span class="badge badge-warning">
        <% } else if (notif_count > 10) { %>
          <span class="badge badge-important">
        <% } %>
        <%= notif_count %></span> 
        <% if(notif_count == 1) { %><%= i18n('notification is ready to be sent') %>.<% } %>
        <% if(notif_count > 1) { %><%= i18n('notifications are ready to be sent') %>.<% } %>
        <a class="btn btn-mini btn-primary" href="territory/actions/sendemails"><%= i18n('Send now') %></a>
      </div>
    <% } %>
</div>

<% if (actionResult.length > 0) { %>
<div class="container">
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fa fa-filter"></i>:
    <% if(filters.indexOf('only_free') != -1) { %>
      <i class="fa fa-fw fa-home"></i>
    <% } %>
    <% if(filters.indexOf('taken_days_ago') != -1) { %>
      <i class="fa fa-fw fa-warning"></i>
    <% } %>
    <% if(filters.indexOf('Business') != -1) { %>
      <i class="fa fa-fw fa-shopping-cart"></i>
    <% } %>
    <% if(filters.indexOf('Phone') != -1) { %>
      <i class="fa fa-fw fa-phone"></i>
    <% } %>
     <%= i18n('Showing') %> <span class="badge badge-info"><%= territories.length %> / <%= totalCount %></span> <%= i18n('territories') %>.
    <a class="btn btn-mini btn-primary" href="territory"><%= i18n('Show all') %></a>
  </div>
</div>
<% } %>

<div class="container">
<div class="btn-group pull-right">
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="icon-filter"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a href="?only_free=true"><i class="fa fa-fw fa-home"></i> <%= i18n('Available') %></a></li>

      <li><a href="?taken_days_ago=<%= sails.config.limit_for_rarely_covered_territory %>&only_free=false"><i class="fa fa-fw fa-warning"></i> <%= i18n('Not covered') %></a></li>
      
      <li><a href="?type=Business"><i class="fa fa-fw fa-shopping-cart"></i> <%= i18n('Business territories') %></a></li>

      <li><a href="?type=Phone"><i class="fa fa-fw fa-phone"></i> <%= i18n('Phone territories') %></a></li>
      <li class="divider"></li>
      <li>
        <a href="/territory">
          <i class="fa fa-fw fa-power-off"></i> <%= i18n('Filters off') %>
        </a>
      </li>
    </ul>
  </div>

  <% if(territories.length === 0) { %>
    <div class="container">
      <i class="fa fa-warning"></i> <%= i18n('No territories') %>.
    </div>
  <% } %>

    <% _.each(availableLetters, function (letter) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="<%= '/territory/' + letter %>"><%= letter %></a></h2>
        </div>
        <div class="panel-body">
          <ul class="inline">
            <% _.each(territories, function (t) { %>
            <% if(letter == t.territoryLetter) { %>

            <% var taken = new Date(t.taken); taken = taken.getTime(); var now = new Date(); var not_covered = now.getTime() - (1000 * 60 * 60 * 24 * sails.config.limit_for_rarely_covered_territory); %>
            <li>
              <a href="<%= '/territory/' + t.territoryLetter + '/' + t.territoryNumber %>">
                <% if(not_covered > taken) { %> 
                  <span style="color:#FF3300">
                <% } %>
                <% if(t.holder == sails.config.default_territory_holder) { %>
                  <b><%= t.territoryCode %></b>
                <% } else { %>
                  <%= t.territoryCode %>
                <% } %>
                <% if(not_covered > taken) { %> 
                  </span>
                <% } %>
              </a>
            </li>
            <% } %>
            <% }) %>
          </ul>
        </div>
      </div>
    <% }) %>
</div>

<div class="container">
  <ul class="breadcrumb list-inline">
    <li><a href="/"><i class="fa fa-map-marker"></i> <%= i18n('Territories on a map') %></a><span class="divider"></span></li>
    <li><a href="/territory/stats"><i class="fa fa-bar-chart-o"></i> <%= i18n('Stats') %></a><span class="divider"></span></li> 
    <li><a href="/territory/s13"><i class="fa fa-columns"></i> <%= i18n('S-13') %></a><span class="divider"></span></li>
    <% if(viewOptions.currentUserType && viewOptions.currentUserType != 'restricted') { %>
      <li><a href="/territory/actions/add"><i class="fa fa-plus"></i> <%= i18n('Add new territory') %></a><span class="divider"></span></li>
    <% } %>
    <% if(viewOptions.currentUsername == 'admin') { %>
      <li><a href="/territory/destroy"><i class="fa fa-trash-o"></i> <%= i18n('Remove territory') %></a><span class="divider"></span></li>
    <% } %>
  </ul>
</div>

<%- partial('../partials/footer') %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script>
  jQuery(function ($) {
    $("i").tooltip()
  });
</script>