<%- partial('../partials/header')%>

<!--<div class="container">
  <div class="page-header">
    <h2><%= i18n('Territories') %></h2>
  </div>
</div>-->
<div class="container">
  <ul class="breadcrumb list-inline">
    <%= i18n('Filter') %>:
    <li><a href="?only_free=true"><%= i18n('Available') %></a> (<a href="?only_free=false"><%= i18n('all') %></a>)</li>

      <!--<% _.each(allLetters, function (letter) {  %>
        <li> | <a href="?only_free=true&letter=<%= letter %>"><%= letter %> - <%= i18n('available') %></a> (<a href="?letter=<%= letter %>"><%= i18n('all') %></a>) 
      <% }) %>
      -->

      &diams; <a href="?taken_days_ago=<%= sails.config.limit_for_rarely_covered_territory %>&only_free=true"><%= i18n('Not covered recently and available') %></a> (<a href="?taken_days_ago=<%= sails.config.limit_for_rarely_covered_territory %>"><%= i18n('all') %></a>) </li>
      
  </ul>
</div>  
<div class="container">
    <% _.each(availableLetters, function (letter) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="<%= '/territory/' + letter %>"><%= letter %></a></h2>
        </div>
        <div class="panel-body">
          <ul class="inline">
            <% _.each(territories, function (t) { %>
            <% if(letter == t.territoryLetter) { %>

            <% var taken = new Date(t.taken); taken = taken.getTime(); var now = new Date(); var not_covered = now.getTime() - (1000 * 60 * 60 * 24 * sails.config.limit_for_rarely_covered_territory); %>
            <li>
              <a href="<%= '/territory/' + t.territoryLetter + '/' + t.territoryNumber %>">
                <% if(not_covered > taken) { %> 
                  <span style="color:#FF3300">
                <% } %>
                <% if(t.holder == sails.config.default_territory_holder) { %>
                  <b><%= t.territoryCode %></b>
                <% } else { %>
                  <%= t.territoryCode %>
                <% } %>
                <% if(not_covered > taken) { %> 
                  </span>
                <% } %>
              </a>
            </li>
            
            <!--
            <li><%= i18n('Holder') %>: <%= t.holder %></li>
            <li><%= i18n('Taken') %>: <% var taken = new Date(t.taken); %> <%= taken.getFullYear() + '-' + (taken.getMonth()+1) + '-' + taken.getDate() %></li> -->

            <% } %>
            <% }) %>
          </ul>
        </div>
      </div>
    <% }) %>
  <p class="bg-success"><%= i18n('Showing') %> <span class="badge badge-info"><%= territories.length %> / <%= totalCount %></span> <%= i18n('territories') %>.</p>
  <% notif_count = territoryTakenNotificationCount + territoryNotCoveredNotificationCount; %>
  <% if (notif_count > 0) { %>
    <p class="bg-success"><%= i18n('Unsent notifications') %> 
    <% if (notif_count > 0 && notif_count < 6) { %>
      <span class="badge badge-info">
    <% } else if (notif_count > 5 && notif_count < 11) { %>
      <span class="badge badge-warning">
    <% } else if (notif_count > 10) { %>
      <span class="badge badge-important">
    <% } %>
    <%= (territoryTakenNotificationCount + territoryNotCoveredNotificationCount) %></span>. <a href="territory/actions/sendemails"><%= i18n('Send now') %></a></p>
  <% } %>
</div>

<div class="container">
  <ul class="breadcrumb list-inline">
    <li><a href="/"><%= i18n('Territories on a map') %></a></li> &diams;
    <li><a href="/territory/stats"><%= i18n('Stats') %></a></li> &diams;
    <li><a href="/territory/s13"><%= i18n('S-13') %></a></li>
    <% if(viewOptions.currentUserType && viewOptions.currentUserType != 'restricted') { %>
       &diams;
      <li><a href="/territory/actions/add"><%= i18n('Add new territory') %></a></li>
    <% } %>
    <% if(viewOptions.currentUsername == 'admin') { %>
       &diams;
      <li><a href="/territory/destroy"><%= i18n('Remove territory') %></a></li>
    <% } %>
  </ul>
</div>

<%- partial('../partials/footer') %>