
<div class="container">
  <% _.each(territories, function (t, t_index) { %>
    <% if (!(t_index % 4)) { %>
      <div style="page-break-after : always; page-break-inside: avoid; display : inline-block;">
        <h3>Aluekorttiluettelo</h3>
    <% } %>
    <table border="1px" class="s13">
      <th colspan="2" width="150px"><%= t.territoryCode %></th>
        <% var rowCount = 0 %>
        <% for(var i = 0; i < t.holderHistoryWithNames.length; i++) { %>
          <% if(t.holderHistoryWithNames[i][0] == sails.config.default_territory_holder) { continue; } %>
          <% if(i>0) { %>
            <% rowCount++; %>
            <tr><td colspan="2"><%= i18n(t.holderHistoryWithNames[i][0]) %></td></tr>
            <td>
              <% var d = new Date(t.holderHistoryWithNames[i-1][1]) %>
              <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
            </td>
            <td>
              <% var d = new Date(t.holderHistoryWithNames[i][1]) %>
              <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
            </td>
          <% } %>
        <% } %>
        <% if(t.holder != sails.config.default_territory_holder) { %>
          <% rowCount++ %>
          <tr><td colspan="2"><%= i18n(t.holder) %></td></tr>
          <tr>
            <td>
              <% var d = new Date(t.taken) %>
              <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
            </td>
            <td>
              &emsp;&emsp;&emsp;&emsp;
            </td>
          </tr>
        <% } %>
        <% while(rowCount < 20) { %>
          <tr><td colspan="2">&emsp;</td></tr>
          <tr><td>&emsp;</td><td>&emsp;</td></tr>
          <% rowCount++ %>
        <% } %>
    </table>
    <% if ((t_index != 0 && !((t_index % 4) - 3)) || t_index == territories.length - 1) { %> 
      </div>
    <% }  %>
  <% }) %>
</div>
