
<div class="container">
  <% _.each(territories, function (t, t_index) { %>
    <% if (!(t_index % 4)) { %> 
      <div style="page-break-after : always;">
    <% } %>
    <table border="1px" class="s13">
      <th colspan="2" width="150px"><%= t.territoryCode %></th>
        <% var rowCount = 0 %>
        <% for(var i = 0; i < t.holderHistory.length; i++) { %>
          <% rowCount++ %>
          <tr><td colspan="2"><%= t.holderHistory[i][0] %></td></tr>
          <tr>
            <td>
              <% var d = new Date(t.holderHistory[i][1]) %>
              <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
            </td>
            <td>
              <% if(i+1<t.holderHistory.length && t.holder != sails.config.default_territory_holder) { %>
                <% var d = new Date(t.holderHistory[i+1][1]) %>
                <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
              <% } else { %>
                <% var d = new Date(t.taken) %>
                <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
              <% } %>
            </td>
          </tr>
          <% if(i == t.holderHistory.length - 1 && t.holder != sails.config.default_territory_holder) { %>
            <% rowCount++ %>
            <tr><td colspan="2"><%= t.holder %></td></tr>
            <tr>
              <td>
                <% var d = new Date(t.taken) %>
                <%= d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() %>
              </td>
              <td></td>
            </tr>
          <% } %>
        <% } %>
        <% while(rowCount < 20) { %>
          <tr><td colspan="2">&emsp;</td></tr>
          <tr><td>&emsp;</td><td>&emsp;</td></tr>
          <% rowCount++ %>
        <% } %>
    </table>
    <% if (!(t_index % 4)) { %> 
      </div>
    <% }  %>
  <% }) %>
</div>
