
<%- partial('../partials/header')%>

<div class="container">
	<dl class="dl-horizontal">
		<dt><%= i18n("Total count") %></dt>
		<dd><%= count %></dd>
		<dt><%= i18n("Not covered recently") %></dt>
		<dd><%= not_covered_count %> (<%= i18n("Not covered in the last ") %><%= sails.config.limit_for_rarely_covered_territory %> <%= i18n("days") %>.)</dd>
		<dt><%= i18n("Available") %></dt>
		<dd><%= available_count %></dd>
		<dt><%= i18n("Average covered time") %></dt>
		<dd>
			<%= average_covered.days %><%= i18n(' days') %>
			<%= average_covered.months %><%= i18n(" months and ") %>
			<%= average_covered.years %><%= i18n(" years.") %>
		</dd>
		<dt><%= i18n("Average holding time") %></dt>
		<dd>
			<%= average_holding.days %><%= i18n(" days") %>
			<%= average_holding.months %><%= i18n(" months and ") %>
			<%= average_holding.years %><%= i18n(" years.") %>
		</dd>
	</dl>
</div>

<div class="container">
	<div id="chart_div_1" style="width: 500px; height: 300px;"></div>
</div>
<div class="container">
	<div id="chart_div_2" style="width: 500px; height: 300px;"></div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
  	jQuery.getJSON( "/territory/stats", function( data ) {

  		var out_data_1 = [['Date','Covered time','Holding time']];
  		var out_data_2 = [['Date','Total','Not covered','Available']];

  		jQuery.each(data, function(i, s) {
  			var d = new Date(s.statistic_date);
  			out_data_1.push(
  				[
  					d, 
  					Math.floor(s.average_covered_time / (1000 * 60 * 60 * 24)), 
  					Math.floor(s.average_holding_time / (1000 * 60 * 60 * 24))
  				]);
  			out_data_2.push(
  				[
  					d, 
  					s.total_count, 
  					s.not_covered_count, 
  					s.available_count
  				]);
  		})

	    var data_1 = google.visualization.arrayToDataTable(out_data_1);
	    var data_2 = google.visualization.arrayToDataTable(out_data_2);

	    var options_1 = {
	      title: 'Statistics (average holding and covering times in days)'
	    };

	    var options_2 = {
	      title: 'Statistics (territory counts)'
	    };

	    var chart_1 = new google.visualization.LineChart(document.getElementById('chart_div_1'));
	    var chart_2 = new google.visualization.LineChart(document.getElementById('chart_div_2'));
	    chart_1.draw(data_1, options_1);
	    chart_2.draw(data_2, options_2);
	  });
  }
</script>

<%- partial('../partials/footer') %>