<!-- Create new territory -->

<%- partial('../partials/header') %>

<div class="container">
  <div class="page-header">
  	<%= i18n(actionResult) %>
  </div>

	<form class="form-horizontal" action="/territory/actions/update/<%= territory.territoryCode %>" method="post" role="form">
	<fieldset>

		<legend><%= i18n('Edit') %></legend>

		<div class="control-group">
		  <label class="control-label" for="input_letter"><%= i18n('Prefix Letter') %></label>
		  <div class="controls">
		    <input id="input_number" name="input_number" type="text" class="input-xlarge" disabled value="<%= territory.territoryLetter %>"></input>
		  </div>
		</div>

		<div class="control-group">
		  <label class="control-label" for="input_number"><%= i18n('Number') %></label>
		  <div class="controls">
		    <input id="input_number" name="input_number" type="number"  min="1" class="input-xlarge" disabled value="<%= territory.territoryNumber %>"></input>
		  </div>
		</div>

		<div class="control-group">
		  <label class="control-label" for="input_type"><%= i18n('Type') %></label>
		  <div class="controls">
		    <select id="input_type" name="input_type" class="input-xlarge">
					<% _.each(sails.config.territory_types, function (i) { %>
						<% if(territory.type && i == territory.type) { %> 
							<option value="<%= i %>" selected><%= i18n(i) %></option>
						<% } else { %>
							<option value="<%= i %>"><%= i18n(i) %></option>
						<% } %>
					<% }) %>
		    </select>
		  </div>
		</div>

		<div class="control-group">
		  <label class="control-label" for="input_description"><%= i18n('Description') %></label>
		  <div class="controls">                     
		    <textarea class="field span4" rows="6" id="input_description" name="input_description" placeholder="Address, etc."><%= territory.description %></textarea>
		  </div>
		</div>

		<div class="control-group">
			<label class="control-label" for="map_canvas"><%= i18n('Set Coordinates') %></label>
			<div class="controls">    
				<div id="map_canvas">
				</div>
				<div class="form-inline">
			    <label for="input_lat"><%= i18n('Latitude') %>:</label>
			    <input class="form-control span2" name="input_lat" id="input_lat" type="text" value="" />

			    <label for="input_lng"><%= i18n('Longitude') %>:</label>
			    <input class="form-control span2" name="input_lng" id="input_lng" type="text" value="" />
				</div>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">  
				<button id="input_submit" type="submit" class="form-control btn btn-default">
				  <%= i18n('Save') %>
				</button>
			</div>
		</div>

	</fieldset>
	</form>
</div>

<!-- Google Maps API v3 -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/create_new_map.js"></script>

<%- partial('../partials/footer') %>
