<!DOCTYPE html>

<html>
  <head>
    <title><%= i18n('Forbidden') %></title>
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/styles/sticky-footer-navbar.css" />
    <link rel="stylesheet" href="/styles/bootstrap-responsive.css" />
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1><%= i18n('Forbidden') %></h1>
      </div>
      <div class="container">
        <p>
        <% if (typeof message !== 'undefined') { %>
        <%= i18n(message) %>
        <% } else { %>
        <%= i18n("You don't have permission to see the page you're trying to reach.") %>
        <% } %>
        </p>
        <p><%= i18n('If you have an user account,') %> <a href="\login"><%= i18n('log in') %></a>.</p>
      </div>
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
  </body>
</html>