<!-- Create new holder -->

<%- partial('../partials/header')%>

<div class="container">
  <div class="page-header"><%= i18n(actionResult) %></div>

	<form class="form-horizontal" action="update" method="post">
		<fieldset>

			<legend><%= i18n('Edit user') %></legend>
			<div class="control-group">
			  <label class="control-label" for="input_username"><%= i18n('Username') %></label>
			  <div class="controls">
			    <input id="input_username" name="input_username" type="text" placeholder="" class="input-xlarge" disabled value="<%= viewOptions.currentUsername %>"></input>
			  </div>
			</div>

			<div class="control-group">
			  <label class="control-label" for="input_password1"><%= i18n('New Password') %></label>
			  <div class="controls">
			    <input id="input_password1" name="input_password1" type="password" placeholder="" class="input-xlarge">
			  </div>
			</div>

			<div class="control-group">
			  <label class="control-label" for="input_password2"><%= i18n('Repeat New Password') %></label>
			  <div class="controls">
			    <input id="input_password2" name="input_password2" type="password" placeholder="" class="input-xlarge">
			  </div>
			</div>

			<div class="control-group">
			  <div class="controls">
			    <button id="input_submit" name="input_submit" class="btn btn-primary"><%= i18n('Save') %></button>
			  </div>
			</div>

		</fieldset>
	</form>

</div>

<% if(viewOptions.currentUsername == 'admin') { %>
<div class="container">
  <ul class="breadcrumb list-inline">
    <li><a href="/user/create"><i class="fa fa-plus"></i> <%= i18n('Create new user account') %></a><span class="divider"></span></li>
    <li><a href="/user/destroy"><i class="fa fa-trash-o"></i> <%= i18n('Remove user account') %></a><span class="divider"></span></li>
  </ul>
</div>
<% } %>

<%- partial('../partials/footer')%>